* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 15px;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  transition: 0.5s;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
#header .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  position: relative;
}
#header .container .logo a {
  text-decoration: none;
  width: 100%;
  display: block;
}
#header .container .logo img {
  width: 80px;
}
#header .container .navbar {
  position: relative;
}
#header .container .navbar ul {
  display: flex;
  margin: 0;
}
#header .container .navbar ul li {
  list-style: none;
  padding-right: 50px;
}
#header .container .navbar ul li a {
  text-decoration: none;
  position: relative;
  line-height: 80px;
  transition: all 0.3s;
  font-size: 13px;
  font-weight: 600;
  color: #181818;
  display: block;
}
#header .container .navbar ul li a::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  background-color: #b61984;
  border-radius: 50%;
  display: none;
}
#header .container .navbar ul li a:hover {
  color: #b61984;
}
#header .container .navbar ul li a:hover::after {
  display: block;
}
#header .container .navbar .nav-info {
  font-size: 0.9em;
  display: flex;
}
#header .container .navbar .nav-info > a {
  position: relative;
  padding: 1.1em 1.5em;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 0 0 3em #b61984 inset;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  outline: none;
  transition: all 300ms ease;
  border: 1px solid #b61984;
}
#header .container .navbar .nav-info > a:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px inset;
  color: #b61984;
}
#header .container .navbar .nav-info .social-head {
  display: flex;
  align-items: center;
}
#header .container .navbar .nav-info .social-head a {
  margin-left: 10px;
  color: #181818;
  display: block;
}
#header .container .navbar .nav-info .social-head a:hover {
  color: #b61984;
}

#header.sticky {
  background-color: #fff;
  padding: 5px 100px;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
}
#header.sticky .container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 250px;
}
#header.sticky .container .logo {
  display: none;
}
#header.sticky .container .navbar {
  display: flex;
}
#header.sticky .container .navbar ul li a {
  line-height: 0;
}
.carousel {
  position: relative;
}
.carousel .thumbnail-top img {
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
  left: 0;
  display: block;
}
.carousel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 650px;
  z-index: 1;
}
.carousel .container .row {
  align-items: center;
}
.carousel .container .row .carousel-title {
  animation: fadeRight 0.3s;
  width: 50%;
}
.carousel .container .row .carousel-title p {
  font-size: 17px;
  font-weight: 600;
  color: #b61984;
}
.carousel .container .row .carousel-title span {
  font-size: 48px;
  font-weight: 700;
  color: #181818;
  line-height: 1;
}
.carousel .container .row .carousel-thumbnail {
  animation: fadeBot 0.6s;
}
.carousel .container .row .carousel-thumbnail img {
  max-width: 100%;
}
.carousel .thumb-bot img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
}

.features {
  background-color: #dcd1f3;
  position: relative;
}
.features .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .container .thumb-about {
  width: 50%;
}
.features .container .thumb-about img {
  max-width: 100%;
  background-repeat: no-repeat;
}
.features .container .card-group {
  position: relative;
  z-index: 1;
  padding: 30px 0 20px 0;
}
.features .container .card-group .card-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.features .container .card-group .card-top .item-1 {
  animation: fadeRight 0.3s;
}
.features .container .card-group .card-top .item-2 {
  animation: fadeRight 0.6s;
}
.features .container .card-group .card-top .item-3 {
  animation: fadeRight 0.9s;
}
.features .container .card-group .card-top .item-4 {
  animation: fadeRight 1.2s;
}
.features .container .card-group .card-top .card {
  border: transparent;
  outline: none;
  border-radius: 10px;
  transition: 0.5s;
}
.features .container .card-group .card-top .card:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 6px 22px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 10px 13px -7px #000000, -1px 6px 22px 1px rgba(0, 0, 0, 0.29);
}
.features .container .card-group .card-top .card .card-img-top {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  transform-origin: 50% 65%;
  transition: transform 0.3s, filter 3s ease-in-out;
}
.features .container .card-group .card-top .card .card-img-top:hover {
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.02);
}
.features .container .card-group .card-top .card .card-body {
  text-align: center;
}
.features .container .card-group .card-top .card .card-body span {
  font-size: 12px;
  font-weight: 600;
  color: #b61984;
}
.features .container .card-group .card-top .card .card-body h5 {
  font-size: 24px;
  font-weight: 700;
  color: #181818;
}
.features .container .card-group .card-top .card .card-body p {
  font-size: 15px;
  font-weight: 400;
  color: #181818;
}
.features .thumb-card img {
  max-width: 100%;
  position: absolute;
  top: 350px;
}

@keyframes fadeRight {
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
  from {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeBot {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
  from {
    transform: translateY(0);
    opacity: 1;
  }
}
.form-complain {
  height: 700px;
  margin-top: 80px;
  position: relative;
}
.form-complain .container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.form-complain .container .form-thumb {
  width: 50%;
  animation: fadeRight 0.3s;
}
.form-complain .container .form-thumb img {
  max-width: 100%;
}
.form-complain .container .card {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 1px 12px 19px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 12px 19px -2px rgba(0, 0, 0, 0.51);
  animation: fadeBot 0.6s;
}
.form-complain .container .card .card-main {
  width: 400px;
  height: 480px;
  position: relative;
}
.form-complain .container .card .card-main .card-header {
  text-align: center;
  border: none;
  background-color: #fff;
}
.form-complain .container .card .card-main .card-header h1 {
  font-size: 38px;
  font-weight: 700;
  color: #181818;
}
.form-complain .container .card .card-main .card-body .row .form-group {
  position: relative;
  width: 100%;
}
.form-complain .container .card .card-main .card-body .row .form-group i {
  color: #b61984;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.form-complain .container .card .card-main .card-body .row .form-group input {
  border-radius: 40px;
  padding: 20px 35px;
  outline: none;
}
.form-complain .container .card .card-main .card-body .row .form-group input:focus {
  box-shadow: none;
}
.form-complain .container .card .card-main .card-body .row .form-group {
  position: relative;
}
.form-complain .container .card .card-main .card-body .row .form-group i {
  color: #b61984;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.form-complain .container .card .card-main .card-body .row .form-group select {
  border-radius: 40px;
  padding: 0 35px;
  background-image: url("/img/sort-down-solid.svg") !important;
  background-position: calc(100% - 20px) 5px, 100% 0;
  background-size: 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-complain .container .card .card-main .card-body .row .form-group select:focus {
  box-shadow: none;
}
.form-complain .container .card .card-main .card-body .row #txtarea i {
  color: #b61984;
  position: absolute;
  top: 23px;
  left: 30px;
}
.form-complain .container .card .card-main .card-body .row #txtarea textarea {
  transition: 0.5s;
  border-radius: 20px;
  padding: 10px 35px;
}
.form-complain .container .card .card-main .card-body .row #txtarea textarea:focus {
  box-shadow: none;
}
.form-complain .container .card .card-main .card-footer {
  border: none;
  background-color: #fff;
}
.form-complain .container .card .card-main .card-footer a {
  text-decoration: none;
  padding: 1.3em 4em;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 0 0 3em #b61984 inset;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  outline: none;
  transition: all 300ms ease;
  border: 1px solid #b61984;
}
.form-complain .container .card .card-main .card-footer a:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px inset;
  color: #b61984;
}
.form-complain .thumb-scd img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
}

.footer {
  position: relative;
  background-image: url(/img/footer_background\ \(1\).jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.footer .container {
  position: relative;
  padding: 100px 30px 30px 0;
  z-index: 1;
}
.footer .container .row .item-1 {
  animation: fadeRight 0.3s;
}
.footer .container .row .item-2 {
  animation: fadeRight 0.6s;
}
.footer .container .row .item-3 {
  animation: fadeRight 0.9s;
}
.footer .container .row .item-4 {
  animation: fadeRight 1.2s;
}
.footer .container .row #frist h5 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.footer .container .row #frist ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.footer .container .row #frist ul li a i {
  margin-right: 10px;
}
.footer .container .row #frist ul .footer-social a {
  margin-top: 10px;
  padding: 5px;
  display: inline-block;
  font-size: 15px;
}
.footer .container .row #frist ul .footer-social a:hover {
  color: #181818;
}
.footer .container .row .col-lg-3 h5 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.footer .container .row .col-lg-3 ul li {
  list-style: none;
}
.footer .container .row .col-lg-3 ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  display: inline-block;
}
.footer .container .row #newsLetter h5 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
}
.footer .container .row #newsLetter ul li input {
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 25px;
  outline: none;
}
.footer .container .row #newsLetter ul li input::placeholder {
  color: #fff;
  font-size: 13px;
}
.footer .container .row #newsLetter ul li input:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.footer .container .row #newsLetter ul li a {
  text-decoration: none;
  padding: 1.3em 6.5em;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 0 0 3em #fff inset;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  outline: none;
  margin-top: 10px;
  transition: all 300ms ease;
  border: 1px solid #b61984;
}
.footer .container .row #newsLetter ul li a:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px inset;
  color: #fff;
}